*{
	margin: 0px;
	padding: 0px;
}
.title{
	width: 1150px;
	height: 200px;
	border-radius: 10px;
	background-image: url(title.jpg);
	margin: auto;
}
.title>img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: block;
	padding: 20px;
}
.title>ul{
	list-style: none;
}
.title>ul>li{
	float: left;
	width: 100px;
	height: 30px;
	font-size: 20px;
	font-family: "微软雅黑";
	color: white;
	margin-left: 20px;
	margin-top: 10px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
}
.title>ul>li:hover{
	background-color: #f0bf00;
}
/*p{
	font-size: 20px;
	font-family: "微软雅黑";
	height: 30px;
	width: 100px;
	background-color: greenyellow;
	padding-left: 20px;
	margin-left: 150px;
	margin-top: 10px;
	border-radius: 10px;
	font-weight: bold;
}*/
.box{
	width: 1150px;
	height: 400px;
	margin: auto;
}
.content{
	width: 290px;
	height: 390px;
	/*border: 1px solid black;*/
	float: left;
	margin-left: 70px;
	border-radius: 10px;
	margin-top: 40px;
	background-image: url(kuangA.jpg);
}
.content>ul{
	list-style: none;
	margin-top: 80px;
	margin-left: 48px;
}
.content>ul>li>a{
	font-size: 18px;
	font-family: "微软雅黑";
	color: black;
	display: block;
	margin: 10px;
}
.content>ul>li>a:hover{
	color: red;
}

